<div class="c-wrapper">

    <section class="comp-section-01">

        <div id="comp-screen-01">
            <div class="c-container-01">
                <picture>
                    <source media="(max-width: 465px)" srcset="assets/Visuals/app-icon.png" />
                    <source media="(min-width: 466px)" srcset="assets/Visuals/app-icon.png" />
                    <img src="assets/Visuals/app-icon.png" alt="" />
                </picture>
            </div>
            <a routerLink="/login"  class="c-container-02">
              START

</a>
        </div>
    </section>

</div>
